<ul>
  <% @tags.each do |tag| %>
  
    <li>
      <%= link_to tag.name, tag_path(tag)%>

      <%= link_to "delete", tag_path(tag), method: :delete, data: {confirm: "Really delete the tag?"}
 %>
    </li>
    
  <% end %>
</ul>

<%= link_to "All articles", articles_path%>